// navigation start
nav.navbar{
    padding: 0;
    ul.custom_menu{
        
        li{
            
        }
        
        li a{
            text-decoration: none;
            color: #66686C;
            text-transform: capitalize;
            font-size: 1.6rem;
            padding: 1.6rem;
            display: block;
            border-radius: 5px;
            border-bottom: 5px solid transparent;
            outline: 0;
            transition: all 0.3s;
            &:hover{
                background-color: #dfe2e6;
            }
            &.active{
                color: #1876f2;
                border-radius: 0;
                border-color: #1876f2;
                &:hover{
                    background-color: transparent;
                }
            }
        }    
    }
    
    .menu_button{

        .add_to_book{
            font-size: 1.6rem;
            background: #1876f2;
            border-radius: 5px; 
            padding: 7px 2rem;
            color: #fff;
            text-decoration: none;
            transition: all .3s;
            margin-right: .5rem;

            &:hover{
                background: #1058b6;
            }
            i{
                margin-right: 5px;
            }

            
        }
        .edit_profile{
            font-size: 1.6rem;
            background: #1876f2;
            border-radius: 5px; 
            padding: 7px 2rem;
            color: #fff;
            text-decoration: none;
            transition: all .3s;

            &:hover{
                background: #1058b6;
            }
            i{
                margin-right: 5px;
            }
        }
    }
}