
// fonts
$logo-font : 'Monoton', cursive;
$bangla-font : 'bangla-font';
$default : 1.6rem;

// color
$bg_color : #f0f2f5;
$header_bg_primary : #7ca9ce;
$header_bg_secondary : #517da2;
$header_bg_dark : #234c6e;

$primary_title : #1d2129;
$sub_title : #686A6E;
$select_radio_color : #90949c;

// shadow
$login_box_shadow : 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
$login_box_shadow_light : 0 1px 2px rgba(0, 0, 0, .1), 0 1px 1px rgba(0, 0, 0, .1);
$login_box_shadow-secondary : 0 2px 4px rgba(0, 0, 0, .3), 0 8px 16px rgba(0, 0, 0, .3);
$single_friend-box-shadow : 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1);
// width
$signup_login_width : 98rem;
$main_content_width: 90rem;
$profile_edit_width: 80rem;

 